<header>
    <a href="/"><h1>College Poll</h1></a>
    <nav>
        <a href="/?admin=true">Stemmen</a>
        <a href="/resultaten?admin=true">Resultaten</a>
        <a href="/admin?admin=true">Admin</a>
    </nav>
</header>