<main>
    <form method="POST" action="/">
        <h2>Vragen</h2>

        <p>
            <label for="vraag1">Vraag 1</label>
            <input type="text" name="vraag1" id="vraag1">
        </p>
        
        <p>
            <label for="vraag2">Vraag 2</label>
            <input type="text" name="vraag2" id="vraag2">
        </p>

        <p>
            <label for="vraag3">Vraag 3</label>
            <input type="text" name="vraag3" id="vraag3">
        </p>

        <p>
            <label for="vraag4">Vraag 4</label>
            <input type="text" name="vraag4" id="vraag4">
        </p>

        <p>
            <label for="vraag5">Vraag 5</label>
            <input type="text" name="vraag5" id="vraag5">
        </p>

        <p>
            <button type="submit">Stel vragen in</button>
        </p>
    </form>
</main>