* { 
    box-sizing: border-box;
}

html, body {
    margin: 0;
    color: #2a2a2a;
}

body {
    font-family: sans-serif;
    background: #f0f3f5;
}

a {
    color: #fff;
    text-decoration: none;
}

h1 {
    margin-top: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

h2 {
    margin-top: 0;
}

h3 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
}

header {
    padding: 2em;
    background: #1ABE7C;
    color: #fff;
    border-radius: 0 0 1em 1em;
}

nav {
    margin-right: 0;
    display: inline-block;
}

nav a {
    margin-right: .5em;
    text-decoration: underline;
}

main {
    padding: 2em;
}

section {
    margin: 1em 1em 1em 0;
    width: auto;
    height: auto;
    display: inline-block;
}

fieldset {
    margin: 1em 2em 1em 0;
    padding: 0;
    width: auto;
    display: inline-block;
    border: none;
}

legend {
    font-style: italic;
    padding: 0;
}

label {
    font-size: 1em;
}

label ~ input:checked{
    font-weight: bold;
}

input[type="text"] {
    padding: .9em 1em;
    margin-top: .4em;
    margin-left: 0em;
    width: 100%;
    border: none;
    border-radius: .7em;
}

form > p:last-of-type {
    display: block;
    height: auto;
    margin: 0;
}

button {
    font-size: 1em;
    padding: .8em 1.3em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    appearance: none;
    border: none;
    background: #1ABE7C;;
    border-radius: .8em;
}