* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100vw;
  background-color: #afc3d7;
  display: grid;
  place-items: center;
}

h1 {
  color: #00ff00;
  -webkit-text-stroke: 2px #ff04e6;
  margin: 0.5em;
  font-size: 3em;
}

main {
  background-color: #8dc2fa;
}
